<div mat-dialog-content>

    <mat-form-field  id="sigel">
        <mat-label><span *ngIf="showExample"><b>1. </b></span>Sigel</mat-label>
        <input matInput required [(ngModel)]="data.sigel" (change)="onChange()" [maxLength]="20">
    </mat-form-field><br>
    <mat-form-field  id="libraryname">
        <mat-label><span *ngIf="showExample"><b>1. </b></span>Libraryname</mat-label>
        <input matInput required [(ngModel)]="data.libraryname" (change)="onChange()" [maxLength]="20">
    </mat-form-field><br>

</div>

<div mat-dialog-actions>
    <button mat-button (click)="onCloseClick()" color="secondary">Cancel</button>
    <button mat-button [mat-dialog-close]="data" [disabled]="!readyForSaving" color="primary">Save</button>
</div>