section>h1 {
  padding: 5px 10px;
  border-radius: 4px;
  margin-top: 10px;
}

textarea {
  padding: 2px;
  border-width: 1px;
  $width: calc(100% - 6px);
  width: $width;
  max-width: $width;
  height: 150px;
  font-family: monospace;
  display: block;
}

textarea,
section {
  margin-bottom: 10px;
}

pre {
  overflow: auto;
  max-height: 200px;
}

pre,
textarea {
  font-size: 0.9em;
}

h4 {
  margin: 0;
}

h3 {
  margin: 0;
  font-weight: bold !important;
}

h2 {
  margin: 0;
  font-weight: bold !important;
  font-size: 20px  !important;
}

.material-icons.md-14 { font-size: 14px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.librislink {
    margin-bottom: 10px;
}

.icon-red {
    color: red;
}

.icon-green {
  color: green;
}